@import '../../global.scss';

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 2px solid $mainColor;
  
  .headtext {
    overflow: visible;
    h1 {
      font-size: 50px;
      width: 400px;
      background-color: white;
      text-align: center;
      border-radius: 0 0 50px 50px;
  
      @include mobile{
        font-size: 30px;
        width: 300px;
      }
    }
  }
  .container {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    @include mobile {
      flex-direction: column;
    }

    .text-div {
      align-items: center;
      justify-content: center;
      z-index: 3;
      max-width: 1600px;
      margin: 0 auto;
      height: 100%;

      p{
        width: 90%;
        margin: 0 auto;
        overflow: visible;
        font-size: 1.8em;
        letter-spacing: 1px;
        line-height: 1.5em;
        font-weight: 300;

        @include mobile {
          font-size: .9rem;
        }
      }
    }
    .left-container {
      position: absolute;
      z-index: 2;
      inset: 10% 0 0 0;

      background-color: rgb(212, 231, 207);
      height: 70%;
      width: 60%;
      border-radius: 15%;
      transform: rotate(-20deg);

      @include mobile {
        width: 80%;
        inset: 10% 0 0 -20%;
      }
    }
    .right-container {
      position: absolute;
      z-index: 1;
      inset: 15% 0 0 50%;
      background-color: rgb(190, 211, 209);
      height: 80%;
      width: 70%;
      border-radius: 15%;
      transform: rotate(40deg);

      @include mobile {
        width: 100%;
      }
    }
  }
}