@import '../../global.scss';

.contact {
   border-top: 2px solid $mainColor;

  .headtext {
    display: flex;
    align-items: center;
    justify-content: center;
    h1 {
      font-size: 50px;
      overflow: visible;
      margin-bottom: 50px;
      width: 400px;
      background-color: white;
      text-align: center;
      border-radius: 0 0 50px 50px;

      @include mobile{
        margin-bottom: 30px;
        font-size: 30px;
        width: 300px;
      }
    }
  }
  .container {
    height: calc(100vh - 178px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @include mobile {
      flex-direction: column;
      gap: 25px;
      height: calc(100vh - 135px);
    }
    .left {

      .contact-text {
        display: flex;
          // flex-direction: column;
          justify-content: center;
          align-items: center;

        .contact-list {
          background-color: rgb(232, 248, 234);
          border-radius: 20px;
          
          gap: 3px;
          text-decoration: none;
          width: 100%;
          padding: 10px 100px;
          margin-top: 5vh;
  
          // @include mobile {
          //   margin: 0 10px;
          // }
          h4 {
            margin-top: 15px;
          }
          a {
            font-size: 20px;
            text-decoration: none;
            width: fit-content;

            @include mobile {
              font-size: 18px;
            }
          }
          p {
            font-weight: 400;

            &:hover {
              opacity: .6;
            }
          }
        }
      }
    }
    footer {
      z-index: 6;
      height: 10vh;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $mainColor;

      p {
        color: white;

        &:before{
          content: '©';
          margin-right: 5px;
        }
      }
    }
  } 
}