// $mainColor: #0f4611;
$mainColor: #354649;
$first-color: #354649;
$second-color: #6c7a89;
$third-color: #a3c6c4;
$fourth-color: #e0e7e9;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #BDBDBD;
$icon-color: #000000;

$width: 768px;

@mixin mobile {
  @media (max-width: #{$width}){
    @content
  }
}